@model IEnumerable<LogisticManagement.Models.tbl_Country>

@{
    ViewBag.Title = "Index";
}

<h2>Country List</h2>

<p>
    @Html.ActionLink("Add New Country", "Create")
</p>
<table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CountryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CountryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CountryId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel'
            ]
        });
    });
</script>
