@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li><span  style="margin-top:100px;" id="userNameDiv">Shazzadul Alam</span></li>*@
        <li style="color: #fff; font-size:20px; padding: 5px; margin: 5px;"><span>@ViewBag.loggedUsername</span></li>
        <li style="border: 1px solid #fff;">@Html.ActionLink("Log Out", "Logout", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}