@model LogisticManagement.Models.View_Candidate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>View_Candidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CandidateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateGuardianName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateGuardianName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateGurdianContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateGurdianContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateImageRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateImageRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentImageRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentImageRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentOrgImageRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentOrgImageRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCountryShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCountryShortName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
